body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    list-style: 1.7;
    color: $color-grey-light;
}

.heading-primary {
    font-weight: 300;
    text-align: center;
    color: $color-grey-light;
    margin-bottom: 6rem;
    display: block;

    &--main {
        display: block;
        font-size: 7rem;
        letter-spacing: 1rem;
        animation: moveInLeft 1s ease-out;

        & span {
            color: $color-secondary-dark;
        }
    }

    &--sub {
        display: block;
        font-size: 5rem;
        letter-spacing: 0.5rem;

        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    letter-spacing: 0.5rem;
    margin: 5rem;
    margin-bottom: 10rem;
    text-align: center;
    position: relative;
    font-size: 6rem;
    font-weight: 500;

    &::before {
        position: absolute;
        content: "";
        height: 2.5rem;
        width: 16rem;
        bottom: 0;
        left: 48.5%;
        background-color: $color-secondary-light;
        z-index: -1;
    }
}

.heading-tertiary {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 4.5rem;
    font-weight: 300;
}
