// fix the issue with float getting 0 hight
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin gradientBorder {
    background: linear-gradient($color-primary-dark, $color-primary-dark) padding-box,
        linear-gradient(to left top, $color-secondary-dark, $color-primary-light) border-box;
    border-radius: 1rem;
    border: .5rem solid transparent;
}