@mixin gradientBorder {
    background:
        linear-gradient($color-primary-dark, $color-primary-dark) padding-box,
        linear-gradient(to left top, $color-secondary-dark, $color-primary-light) border-box;
    border-radius: 1rem;
    border: 0.5rem solid transparent;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        // 400px
        @media only screen and (max-width: 25em) {
            @content;
        }
    }

    @if $breakpoint == tab-port {
        // 900px
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }

    @if $breakpoint == tab-land {
        // 1200px
        @media only screen and (max-width: 75em) {
            @content;
        }
    }

    @if $breakpoint == big-desktop {
        // 1800px
        @media only screen and (min-width: 112.5em) {
            @content;
        }
    }
}
