// COLORS
$color-primary-light: #232d41;
$color-primary-dark: #161c28;
$color-primary-dark-2: #050b17;

$color-secondary-dark: #ce4c1d;
$color-secondary-light: #d86034;
$color-secondary-light-2: #f99f7e;

$color-tertiary: #8f31e2;

$color-grey-light: #f1f6f9;
$color-grey-dark: #9ba4b5;

$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;
$gutter-horizontal-about: 15rem;

// BORDER
$default-border: 3px;
