*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #3c3c55; }

body {
  font-family: sans-serif;
  font-weight: 400;
  list-style: 1.7;
  color: #eee;
  padding: 3rem; }
