.btn {

    &,
    &:link,
    &:visited {
        position: relative;
        font-size: 3rem;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border: none;
        cursor: pointer;
        transition: all .2s;
        padding: 1.5rem;

        backface-visibility: hidden;
    }

    &:hover {
        // transform: translateY(-3px);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        outline: none;
        transform: translateY(2px);
    }

    &--main {
        border: .3rem solid $color-secondary-dark;
        color: $color-secondary-dark;

        &::after {
            border: .3rem solid $color-secondary-dark;
        }

        &::before {
            border: .2rem solid $color-secondary-dark;
        }
    }

    &::before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
}