.btn {

    &,
    &:link,
    &:visited {
        position: relative;
        font-size: 3rem;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        transition: all .2s;
        padding: 1.5rem;
        backface-visibility: hidden;
    }

    &:hover {

        &::before {
            transform: scaleX(1.3) scaleY(1.4);
            opacity: 0;
        }

        &::after {
            transform: scaleX(1.5) scaleY(1.7);
            opacity: 0;
        }
    }

    &:active {
        outline: none;
        transform: translateY(3px);
    }

    &--main {
        border-radius: 3px;
        color: $color-secondary-dark;
        border: .3rem solid $color-secondary-dark;

        &::after {
            border-radius: 3px;
            outline: solid .2rem rgba($color-secondary-dark, .4);
        }

        &::before {
            border-radius: 3px;
            outline: solid .2rem rgba($color-secondary-dark, .6);
        }
    }

    &::before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
}