.about {
    margin: 15rem 0;

    &__icon {
        display: block;
        text-align: center;
        font-size: 10rem;
        font-weight: 400;
        transform: scale(1.4);
        transition: all .5s;

        background-image: linear-gradient(to bottom right,
                $color-secondary-light,
                $color-grey-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: .6;

        &:hover {
            opacity: 1;
        }
    }

    &__text {
        display: flex;
        flex-basis: 0;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 4;

        margin-left: 30rem;
    }

    &__text-box {
        display: block;
        width: 100%;
        letter-spacing: 1px;
        font-size: 2.5rem;
        margin-bottom: 4rem;
    }

    &__skills {
        flex-basis: 0;
        flex-grow: 3;
        margin-right: 30rem;
    }

    &__skill-item {
        position: relative;
        text-align: center;
        margin-bottom: 3rem;
        transition: all .5s;

        &:hover>.about__skill-name {
            opacity: 1;
        }

        &:hover {
            transform: scale(1.5);
        }
    }

    &__skill-name {
        margin: 1rem 0;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        opacity: 0;
        transition: all .5s;
    }

    &__img {
        display: inline-block;
        height: 6rem;
    }
}