.about {
    padding: 8rem 0;
    margin: 0 15rem;

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__text {
        flex: 0 0 40%;
        // margin-right: auto;
    }

    &__text-box {
        display: block;
        line-height: 3.5rem;
        letter-spacing: 1px;
        font-size: 2.2rem;
    }

    &__skills {
        display: flex;
    }

    &__skill-item {
        text-align: center;
        margin: 3.5rem;
        transition: all 0.5s;

        &:hover > .about__skill-name {
            opacity: 1;
        }

        &:hover {
            transform: scale(1.5);
        }
    }

    &__skill-name {
        margin-top: 1rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        opacity: 0;
        transition: all 0.5s;
    }

    &__img {
        display: inline-block;
        height: 6rem;
    }
}
