.navigation {
    position: relative;
    background-color: $color-primary-light;
    text-align: right;
    box-shadow: 0 1rem 2rem rgba($color-black, .30);

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        margin: 1rem;

        &:last-child {
            margin-right: 10rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 2rem;
            font-weight: 400;
            padding: 1rem 2rem;
            color: $color-grey-light;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .3s;
        }

        &:hover,
        &:active {
            transform: translateY(-.3rem);
            color: $color-secondary-dark;
        }
    }
}