.projects {
    padding: 8rem 0;
    margin: 0 15rem;

    &__container {
        display: flex;
        justify-content: space-around;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        flex: 0 0 30%;

        font-size: 2rem;
        box-shadow: -1rem 2rem 5rem rgba($color-black, 0.5);
        background-color: $color-primary-ligth-2;
        border-radius: 25px;
        padding: 3rem;
        transition: all 0.5s;

        &:not(:last-of-type) {
            margin-right: 5rem;
        }

        p {
            margin-bottom: 2rem;
        }

        &:hover {
            box-shadow: -1rem 2rem 5rem rgba($color-secondary-dark, 0.3);
        }
    }

    &__tags {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }

    &__tag {
        display: inline-block;
        background-color: $color-primary-light;
        border-radius: 5px;
        font-size: 1.4rem;
        margin-right: 1.5rem;
        padding: 0.8rem;
    }

    &__link {
        text-align: center;
        border-bottom: 1px solid $color-secondary-dark;
        width: 50%;

        &:link,
        &:visited {
            font-size: 2.25rem;
            font-weight: 400;
            padding: 0.5rem;
            text-decoration: none;
            color: $color-grey-light;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-secondary-light 50%);
            transition:
                background-position 0.3s,
                transform 0.3s;
            background-size: 225%;
        }

        &:hover,
        &:active {
            background-position: 100%;
            transform: translateX(0.5rem);
        }

        &:active {
            transform: scale(1.2);
        }

        & span {
            margin-left: 1rem;
            font-size: 4rem;
        }
    }
}
